.coursedetail{
    overflow: hidden;
}
.coursedetailsvideopart{
    display: flex;
    justify-content: center;
}
.coursedetailsvideopart1{
    display: flex;
    align-items: center;
    height: 550px;
    width: 1300px;
    background-color: #2d2f31;
}
.coursedetailcustom-hr {
    position: relative;
    background: black;
    border: none;
    height: 1px;
    width: 1290px;
  }
  .coursedetailheading1{
    font-family: "Cormorant SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    position: relative;  
  }
  .coursedetailheading2{
    font-family: "Cormorant SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
  }
  .coursedetailoverview{
    padding: 7px 56px 7px 56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .coursedetailcustom-hr1 {
    position: relative;
    background: rgb(181, 177, 177);
    border: none;
    height: 1px;
    width: 1080px;
  }
  .coursedetaillasthead{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  .allcoursedetailscard2 {
    width: 260px;
    height: 330px;
    background: white;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #05060f;
    overflow: hidden;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .homepagefourthsectioncustom-hr2 {
    position: relative;
    background: black;
    border: none;
    height: 1px;
    width: 195px;
  }
  .allcoursedetailimg2{
    width: 215px;
}
.specificcoursedetailsdescription2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.allcoursedetailscol1div{
  width: 630px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
.allcoursedetailscol1div1{
  width: 630px;

  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: cornflowerblue;
}
.forwardbutton{
  font-size: 80px;
  font-weight: 300;
  position: relative;
  bottom: 220px;
  left: 1293px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(181, 177, 177);
width: 45px;


}
.backwordbutton{
  font-size: 80px;
  font-weight: 300;
  position: relative;
  bottom: 340px;
  right: 48px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(181, 177, 177);
background-color: white;
width: 45px;

}
.backwordbutton:hover{
  cursor: pointer; 
}
.forwardbutton:hover{
  cursor: pointer; 
}
.allcoursedetailsotherhead{
  position: relative;
  bottom: 160px;
}
