.footer {
    background-color: black; 
    color: #ffffff; 
    padding: 50px 0; 
  }
  
  .footer h5 {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  .footer p {
    margin-bottom: 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .footer hr {
    border-top: 1px solid #ffffff; 

  }
  
  .footer p.text-center {
    margin-top: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  