.brandstyle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.btn-spacing {
    margin-right: 5px; 
  }
.search-spacing {
    margin-right: 9px; 
  }
.btn-spacing {
    margin-right: 5px; 
  }
.navtextstyle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headerimg{
  width: 45px;
}